.Header {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0 1rem;
  }

  &__btn-menu {
    flex-shrink: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    min-width: 2.5rem;
    margin-right: 0.5rem;

    @media (min-width: 600px) {
      min-width: 140px;
      margin-right: 1rem;
    }
  }

  &__icono {
    margin-right: 0;

    @media (min-width: 600px) {
      margin-right: 0.5rem;
    }
  }

  &__texto {
    display: none;
    font-size: 1.25rem;
    font-weight: 700;

    @media (min-width: 600px) {
      display: inline;
    }
  }

  &__buscador {
    max-width: 600px;
    flex-grow: 1;
    margin: 0 0.5rem;

    @media (min-width: 768px) {
      margin: 0 1rem;
    }
  }

  &__btn-usuario {
    flex-shrink: 0;
  }
}